.navbar {
    grid-area: n;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 140px;
    padding: 10px;
}

a {
    color: rgb(69, 68, 68);
    text-decoration: none;
    font-size: 20px;
}

.item:hover {
    background-color: rgb(217, 217, 217);
}

a.active {
    color: gold;
}

.line {
    border: 0;
    height: 1px;
    background: rgb(230, 230, 230);
    width: 115px;
    margin-top: 25px;
}
