html,body{
    background-color: #f8f8f8;

}
.main {
    background-color: #f8f8f8;
    height: 100%;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-areas: 'n c';
    grid-template-columns: 2fr 10fr;
    padding-top: 100px;
}

.app-wrapper-content {
    grid-area: c;
    min-height: 100vh;
}





